body{
    background-image:url("./flower-3175428.jpg");
    background-size:cover;
   
   }
  
  .title {
    color: rgb(122, 21, 216);
    font-size: 30px;
  }
  .tex{
    color: #1a18b8;
    font-size: 30px;
    padding: 10px;
  }
/*   
  button {
    border: none;
    outline: 0;
    display:grid;
    padding: 8px;
    color: hsl(0, 44%, 95%);
    background-color: #9ad2ec;
    text-align: center;
    cursor: pointer;
    width: 20%;
    height: 30px;
    font-size: 20px;
  } */
  
  #ad {
    text-align:left;   
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 2px;
  }
   
  
.html {width:40%; background-color: #04AA6D;} 
.css {width: 30%; background-color: #e7dd4b;} 
.js {width: 20%; background-color: #f44336;} 
.rec {width: 10%; background-color: #5756c0;} 
.container{
  font-size: 20px;
}
p{
  font-size: 20px;
  color: rgb(29, 2, 27);
}
a:hover{
  color: #8dc238;
}
.a{
  color: #201dd6;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0b7ab6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #024353;
}

.button:hover {background-color: #a5680d}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}